body {
  font-size: 16px;
}

nav {
  position: fixed;
  width: 100%;
  height: 55px;
  background-color: grey;
  z-index: 10;
  min-width: 600px;
}

nav a {
  font-size: 20px;
  text-decoration: none;
}

nav ul {
  list-style: none;
}

nav li:nth-of-type(1) a:nth-of-type(1) {
  float: left;
  margin-left: -20px;
  color: purple;
}

nav li a {
  float: right;
  padding-right: 20px;
  color: blue;
}

form {
  position: relative;
  top: 100px;
  min-width: 600px;
  }

form input {
  margin-left: 70px;
  float: left;
  width: 400px;
  padding-left: 10px;
  border: 1px solid grey;
  border-radius: 3px;
  margin-right: 3px;
}

form img {
  width: 20px;
  height: 20px;
  border: 1px solid grey;
  border-radius: 3px;
}

div {
  position: relative;
  top: 140px;
  margin-left: 70px;
  min-width: 600px;
}

div * {
  border: 1px solid grey;
  border-radius: 3px;
  padding: 5px 10px 5px 10px;
  text-decoration: none;
  color: black;
}

main {
  position: relative;
  top: 190px;
  margin-left: 70px;
  color: grey;
  min-width: 600px;
}

main a {
  text-decoration: none;
  padding: 15px;
  font-weight: bold;
}

.outputformat {
  margin-bottom: 10px; 
  display: block;
  }